#########
# Project
#########

.brackets.json
*.hidden
.*rc

*.log

######
# Java
######

*.class
*.properties

#########
# Idea 14
#########

.idea/
*.iml
target/

#########
# eclipse
#########

.classpath
.project
.settings/

############
# DNB Parser
############

DNB_Data/
Test_Data/
__pycache__/
*.pyc
*.sublime-*


######
# Rest
######

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
