<!doctype html>
<html ng-app="wcm_buch" id="ng-app">

<head>
    <meta charset="utf-8">
    <title ng-bind="'wcmbuch - ' + title">wcmbuch</title>
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport" />
    <meta content="Wissens- und Content-Management Praktikum 2014/15 - Buch" name="description" />

    <link rel="shortcut icon" href="favicon.ico">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/aeroviewr.css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
    <script src="js/angular/app.js"></script>
    <script src="js/angular/controllers.js"></script>
</head>

<body>
    <script type="text/ng-template" id="tpl_search.html">
        <!-- header -->
        <div id="result-list-header">
            <div class="search-box" id="results-search-box">
                <form ng-submit="doSearch(search.searchTerm)">
                    <label for="results-search-input">Search for:&nbsp;</label>
                    <input class="search-input" id="results-search-input" name="results-search-input" type="search" onfocus="this.select();" ng-model="search.searchTerm" />
                    <input class="search-input-button" id="results-search-button" type="button" value="GO" ng-click="doSearch(search.searchTerm)" />
                </form>
            </div>
            <div id="results-statistics" ng-if="search.results_total > 0">
                Showing <span class="results-start">{{search.results_start}}</span>-<span class="results-end">{{search.results_end}}</span> of <span class="results-total">{{search.results_total}}</span> results for <span class="results-search-term">'{{::search.searchTerm}}'</span> (<span class="results-provider">{{search.provider}}</span> search in <span class="results-time">{{search.timeToSearch}}s</span>)
            </div>
            <div id="results-statistics" ng-if="search.results_total === 0">
                Found <span class="results-total">{{search.results_total}}</span> results for <span class="results-search-term">'{{::search.searchTerm}}'</span> (<span class="results-provider">{{search.provider}}</span> search in <span class="results-time">{{search.timeToSearch}}s</span>)
            </div>
        </div>

        <!-- list -->
        <div id="result-list">
            <div class="result-list-item" ng-repeat="book in search.results">
                <div class="result-list-item-preview">
                    <a href="{{book.url}}">
                        <img src="{{book.imageUrl}}" />
                    </a>
                </div>
                <div class="result-list-item-details">
                    <div class="title">
                        <a href="{{book.url}}">{{book.title}} <span class="series" ng-if="book.series !== null && book.series.name !== null && book.series.number !== null">({{book.series.name}}, #{{book.series.number}})</span></a>
                    </div>
                    <div class="authors">
                        by <span class="author">{{book.author.name}}</span>
                        <!-- (Goodreads Author), ...-->
                    </div>
                    <div class="">
                        {{book.description}}
                    </div>
                </div>
                <div class="result-list-item-options">
                    <!-- TODO: modify options -->
                    <button>Option 1</button>
                </div>
            </div>
            <div class="result-list-no-item" ng-if="search.results.length === 0">
                <div class="title">Keine Ergebnisse gefunden!</div>
                Versuchen Sie eine andere Anfrage ...
            </div>
            <div class="did-you-mean" ng-if="search.results.length === 0">
                <!-- TODO: possible similiar search terms? -->
            </div>
        </div>

        <div id="result-list-pagination" ng-if="search.results.length > 0">
            <div class="k-pager-wrap k-grid-pager k-widget">
                <a tabindex="-1" href="{{search.pagination.first}}" title="Go to the first page" class="k-link k-pager-nav k-pager-first" ng-class="{'k-state-disabled': search.pagination.first === null}">
                    <span class="k-icon k-i-seek-w">Go to the first page</span>
                </a>
                <a tabindex="-1" href="{{search.pagination.prev}}" title="Go to the previous page" class="k-link k-pager-nav" ng-class="{'k-state-disabled': search.pagination.prev === null}">
                    <span class="k-icon k-i-arrow-w">Go to the previous page</span>
                </a>
                <ul class="k-pager-numbers k-reset">
                    <li ng-repeat="item in search.pagination.numbers">
                        <span ng-if="item.selected" ng-class="{'k-state-selected': item.selected}">{{item.number}}</span>
                        <a ng-if="!item.selected" tabindex="-1" href="{{item.url}}" class="k-link" title="{{item.title}}">{{item.number}}</a>
                    </li>
                </ul>
                <a tabindex="-1" href="{{search.pagination.next}}" title="Go to the next page" class="k-link k-pager-nav" ng-class="{'k-state-disabled': search.pagination.next === null}">
                    <span class="k-icon k-i-arrow-e">Go to the next page</span>
                </a>
                <a tabindex="-1" href="{{search.pagination.last}}" title="Go to the last page" class="k-link k-pager-nav k-pager-last" ng-class="{'k-state-disabled': search.pagination.last === null}">
                    <span class="k-icon k-i-seek-e">Go to the last page</span>
                </a>
                <!--<span class="k-pager-info k-label">1 - 10 of 830 items</span>-->
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="tpl_series.html">
        <!-- header -->
        <div id="result-list-header">
            <div class="heading">{{series.title}}</div>
            <div class="info">
                {{series.numberOfAllBooks}} Bücher, {{series.numberOfBooks}} davon Hauptwerke
            </div>
            <div class="description">
                {{series.description}}
            </div>
        </div>
        <!-- list -->
        <div id="result-list">
            <div class="result-list-item" ng-repeat="book in series.books">
                <div class="result-list-item-number" ng-if="book.series.number <= 0">
                    -
                </div>
                <div class="result-list-item-number" ng-if="book.series.number > 0">
                    {{book.series.number}}
                </div>
                <!--
                <div class="result-list-item-preview">
                    <a href="{{book.url}}">
                        <img src="{{book.imageUrl}}" />
                    </a>
                </div>
                -->
                <div class="result-list-item-details">
                    <div class="title">
                        <a href="{{book.url}}">{{book.title}} <span class="series">({{book.series.name}}, #{{book.series.number}})</span></a>
                    </div>
                    <div class="authors">
                        by <span class="author">{{book.author.name}}</span>
                    </div>
                    <div class="">
                        {{book.description}}
                    </div>
                </div>
                <div class="result-list-item-options">
                    <!-- TODO: modify options -->
                    <button>Option 1</button>
                </div>
            </div>
        </div>
    </script>
    
    <script type="text/ng-template" id="tpl_book.html">
        <div id="book-main">
            <div id="book-meta-main">
                <div id="book-cover">
                    <img src="{{book.imageUrl}}" />
                </div>
                <!-- TODO: title, author, ... -->
                <div id="book-main-description">
                    <div class="heading">
                        <span class="title">{{book.title}}</span>
                        <span class="series" ng-if="book.hasSeries">(<a href="{{book.series.url}}">{{book.series.name}}</a>, #{{book.series.number}})</span>
                        <span class="authors">by <a href="#">{{book.authors[0].name}}</a><span ng-if="book.moreAuthors.length > 0" ng-repeat="author in book.moreAuthors">, <a href="#">{{author.name}}</a></span></span>
                    </div>
                    <div class="description" ng-bind-html="book.description" />
                </div>
                <!-- TODO: additional meta data -->
            </div>
            <div id="book-additional">
                <!-- TODO: Sprache:&nbsp; -->
                <span class="k-widget k-dropdown k-header" ng-model="book.grID" ng-controller="wcm_buch_book_sub_languages_controller">
                    <span class="k-dropdown-wrap k-state-default">
                        <span class="k-input">{{book.language}}</span>
                        <span class="k-select">
                            <span class="k-icon k-i-arrow-s">select</span>
                        </span>
                    </span>
                </span>
                <!-- TODO: tag/genre cloud, ... -->
                <a class="goodreads-link" href="{{book.grUrl}}" target="_blank">
                    <img src="images/goodreads_logo_324.png" />
                </a>
                <ul class="shelves">
                    <li ng-repeat="shelf in book.shelves"><span class="name">{{shelf.name}}</span><span class="counter">{{shelf.count}}</span></li>
                </ul>
            </div>
        </div>
    </script>

    <div id="root">
        <header>
            <div class="search-box" id="search-box" ng-controller="wcm_buch_search_header_controller">
                <form ng-submit="doSearch(searchTerm)">
                    <label for="search-input">Search:&nbsp;</label>
                    <input class="search-input" id="search-input" name="search-input" type="search" onfocus="this.select();" ng-model="searchTerm" />
                    <input class="search-input-button" id="search-button" type="button" value="GO" ng-click="doSearch(searchTerm)" />
                </form>
            </div>
            <h1 class="aeroLogo"><a href="">wcm<span>buch</span></a></h1>
        </header>
        <section id="container">
            <div id="container-wrap">
                <div id="container-inner-wrap" ng-view>
                    <!-- content area -->
                </div>
            </div>
        </section>
        <footer>
            <!-- no footer -->
            <!-- copyright, imprint, sitelinks, ..., status bar (?) -->
        </footer>
    </div>
</body>

</html>
